body {
    margin: 0;
    padding: 0;
}
#display {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #186966;
}

#muteToggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background-color: transparent;
    border: none;
}
